.events {
  display: flex;
  flex-flow: column;
}

.event-list {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.event-list__item {
  position: relative;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem -1rem $secondary-color;
  width: 100%;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.event-list__title {
  font-size: 1.25rem;
  padding: 1rem;
  flex: 1 0 33%;
}

.event-list__location {
  padding: 1rem;
  text-align: center;
  flex: 0 1 33%;
}

.event-list__date {
  font-size: 1.25rem;
  padding: 1rem;
  text-align: right;
  flex: 0 1 33%;
}

.event-list__button {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  margin: 3rem 1rem 1rem 1rem;
  box-shadow: 0 0.5rem 1rem -1rem $secondary-color;
  transition: 0.2s;
  align-self: center;
  @include button-ripple;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.2) translateY(0.25rem);
    box-shadow: 0 0 2rem -1rem $secondary-color;
  }
}
