.event-list {
  display: flex;
  flex-flow: column;
}

.event-list__item {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 0.0625rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(45deg, $secondary-color 0%, $primary-color 100%)
    1;
}
.event-list__title {
  flex: 1 0 33%;
}
.event-list__location {
  text-align: center;
  flex: 0 1 33%;
}
.event-list__date {
  text-align: right;
  flex: 0 1 33%;
}
