.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.gallery__wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 42rem;
  overflow: hidden;
  padding: 0.5rem;
  transition: 0.2s;
  background-color: $secondary-color-text;
  &:hover,
  &:focus {
    transform: scale(1.2);
    @include box-shadow;
    z-index: 1;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

@media screen and (min-width: $breakpoint-contacts) {
  .gallery__wrapper {
    width: 33.333333%;
  }
}

@media screen and (min-width: $breakpoint) {
  .gallery__wrapper {
    width: 25%;
  }
}
