.site-header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid $accent-light;

  background: rgb(3, 0, 59);
  background: linear-gradient(
    145deg,
    rgba(3, 0, 59, 1) 0%,
    rgba(0, 255, 124, 1) 100%
  );
}

.site-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Virus', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
}
.site-header__link {
  text-align: center;
  color: white;
  text-shadow: 0 0 1rem $primary-color-light;
  transition: 0.4s;
  &:hover,
  &:focus {
    color: $primary-color-light;
    animation: glitch .4s forwards;
    text-shadow: 0 0 0.5rem $secondary-color;
  }
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.nav-menu__item {
  padding: 1rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

@media screen and (min-width: 720px) {
  .site-header {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.menu-item__link {
  padding: 0 1rem;
  text-shadow: 0 0 0.25rem white;
  color: white;
}

@keyframes glitch {
  0% {
    filter: blur(0);
    transform: translateX(0) translateY(0);
  }
  33% {
    filter: blur(0.25rem);
    transform: translateX(2px) translateY(2px);
  }
  60% {
    filter: blur(0rem);
    transform: translateX(-4px) translateY(0);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  90% {
    filter: blur(0.125rem);
    transform: translateX(4px) translateY(0);
    opacity: 1;
  }
  100% {
    filter: blur(0);
    transform: translateX(0) translateY(0);
  }
}
