.site-header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: black;
  z-index: 2;
  box-shadow: 0 0.5rem 1rem -0.5rem $secondary-color;
  max-height: 100vh;
  overflow-y: auto;
  transition: 0.2s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $secondary-color;
    background: linear-gradient(
      145deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    opacity: 0.5;
    z-index: -1;
  }
}
.site-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Virus', sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: $secondary-color-text;
}
.site-header__link {
  text-align: center;
  color: $secondary-color-text;
  text-shadow: 0 0 1rem $primary-color-light;
  transition: 0.2s;
  &:hover,
  &:focus {
    animation: glitch 0.4s;
    color: $secondary-color;
    text-shadow: 1px 1px 0.125rem $primary-color,
      -1px 1px 0 $secondary-color-text, 1px 1px 0 $secondary-color-text,
      1px -1px 0 $secondary-color-text, -1px -1px 0 $secondary-color-text;
  }
}
.site-header__nav {
  display: block;
  overflow-y: auto;
  flex: 1 0 100%;
}
.site-header__nav--hidden {
  display: none;
}
.site-header__toggle-menu {
  cursor: pointer;
  padding: 1rem 0;
  text-align: right;
  display: flex;
  background-color: transparent;
  border: 1px solid $secondary-color-text;
  border: none;
  color: $secondary-color-text;
  font-size: 1.8rem;
  line-height: 0;
  &:hover,
  &:focus {
    color: $secondary-color;
    text-shadow: 1px 1px 0.125rem $primary-color,
      -1px 1px 0 $secondary-color-text, 1px 1px 0 $secondary-color-text,
      1px -1px 0 $secondary-color-text, -1px -1px 0 $secondary-color-text;
  }
}
.site-header__toggle-menu--hidden {
  display: none;
}
.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}
.nav-menu__item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.5rem;
  flex: 1 0 100%;
  border-bottom: 1px solid $primary-color-light;
  box-shadow: 0 0.5rem 0.5rem -0.5rem $primary-color-light;
  &:last-of-type {
    border: none;
  }
}
.menu-item__link {
  flex: 1 0 auto;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 0.25rem $secondary-color-text;
  color: $secondary-color-text;
}
@media screen and (min-width: 48rem) {
  .site-header {
    padding: 2rem 4rem;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .site-header__title {
    font-size: 3rem;
  }
  .site-header__nav {
    flex-shrink: 1;
    border: none;
  }
  .site-header--narrow {
    padding: 0 4rem;
    overflow: hidden;
  }
  .nav-menu__item {
    border: none;
    box-shadow: none;
    flex: initial;
  }
}
