.cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  box-shadow: 0 0.5rem 1rem -0.5rem $secondary-color;
  min-height: 16rem;
  width: 16rem;
  margin: 1rem 2rem;
  padding: 1rem;
  flex: 0 0 auto;
  border-radius: 0.5rem;
}

.profile-card__photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem $secondary-color;
  margin: 1rem;

  & > img {
    z-index: -1;
    filter: grayscale(100%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $secondary-color;
    background: linear-gradient(
      145deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    opacity: 0.5;
  }
}

.profile-card__name {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.profile-card__role {
  margin: 1rem;
  text-align: center;
}
