/* RGB */
$accent-light: rgba(0,245,255,1);
$primary-color-light: rgba(156,255,204,1);
$primary-color: rgba(0, 255, 124, 1);
$secondary-color: rgba(3, 0, 59, 1);
$primary-color-text: rgba(12, 23, 19, 1);