@font-face {
  font-family: 'Virus';
  src: url('../../fonts/Virus_01.ttf');
}

html {
  font-size: 16px;
}
body {
  font-size: 100%;
  line-height: 1.45;
  font-family: 'Montserrat', sans-serif;
  // color: $primary-color-text;
}

p {
  margin-bottom: 1.3em;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
  padding-bottom: 2 * 1.953rem;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

small,
.font_small {
  font-size: 0.8em;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: $primary-color-text;
  text-decoration: none;
  text-shadow: 0 0 0.125rem $primary-color-light;

  &:hover,
  &:focus {
    color: $secondary-color;
    text-shadow: 1px 1px 0.125rem $primary-color, -1px 1px 0 $secondary-color-text,
      1px 1px 0 $secondary-color-text, 1px -1px 0 $secondary-color-text, -1px -1px 0 $secondary-color-text;
  }
}
