/* RGB */
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Virus';
  src: url("../../fonts/Virus_01.ttf"); }

html {
  font-size: 16px; }

body {
  font-size: 100%;
  line-height: 1.45;
  font-family: 'Montserrat', sans-serif; }

p {
  margin-bottom: 1.3em; }

h1 {
  font-size: 2.441em; }

h2 {
  font-size: 1.953em;
  padding-bottom: 3.906rem; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small,
.font_small {
  font-size: 0.8em; }

a {
  color: inherit;
  text-decoration: none; }

.link {
  color: #0c1713;
  text-decoration: none;
  text-shadow: 0 0 0.125rem #9cffcc; }
  .link:hover, .link:focus {
    color: #03003b;
    text-shadow: 1px 1px 0.125rem #00ff7c, -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white; }

@keyframes glitch {
  0% {
    filter: blur(0);
    transform: translateX(0) translateY(0); }
  33% {
    filter: blur(0.25rem);
    transform: translateX(2px) translateY(2px); }
  60% {
    filter: blur(0rem);
    transform: translateX(-4px) translateY(0);
    opacity: 1; }
  70% {
    opacity: 0; }
  75% {
    opacity: 1; }
  76% {
    opacity: 0; }
  90% {
    filter: blur(0.125rem);
    transform: translateX(4px) translateY(0);
    opacity: 1; }
  100% {
    filter: blur(0);
    transform: translateX(0) translateY(0); } }

.site-header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background: black;
  z-index: 1; }
  .site-header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #03003b;
    background: linear-gradient(145deg, #03003b 0%, #00ff7c 100%);
    opacity: 0.5;
    z-index: -1; }

.site-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Virus', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  transform: translateX(0.5rem); }

.site-header__link {
  text-align: center;
  color: white;
  text-shadow: 0 0 1rem #9cffcc;
  transition: 0.2s; }
  .site-header__link:hover, .site-header__link:focus {
    animation: glitch 0.4s;
    color: #03003b;
    text-shadow: 1px 1px 0.125rem #00ff7c, -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white; }

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch; }

.nav-menu__item {
  text-transform: uppercase;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.5rem; }

@media screen and (min-width: 720px) {
  .site-header {
    flex-flow: row wrap;
    justify-content: space-between; } }

.menu-item__link {
  padding: 0 1rem;
  text-shadow: 0 0 0.25rem white;
  color: white; }

.content-section {
  position: relative;
  padding: 2rem;
  margin: 2rem; }

.hero-image {
  position: relative;
  max-height: 32rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #03003b;
    background: linear-gradient(145deg, #03003b 0%, #00ff7c 100%);
    opacity: 0.5; }

.hero-image__text {
  display: block;
  font-size: 10vw;
  position: absolute;
  color: white;
  text-transform: uppercase;
  z-index: 1; }

.img {
  width: 100%; }

.hero-image__image {
  filter: grayscale(1); }

.event-list {
  display: flex;
  flex-flow: column; }

.event-list__item {
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white; }
  .event-list__item::before {
    content: '';
    position: absolute;
    top: -0.125rem;
    top: 0;
    bottom: -0.125rem;
    right: -0.125rem;
    right: 0;
    left: -0.125rem;
    left: 0;
    background: #03003b;
    background: linear-gradient(45deg, #03003b 0%, #00ff7c 100%);
    z-index: -1;
    opacity: 0.5; }

.event-list__title {
  flex: 1 0 33%; }

.event-list__location {
  text-align: center;
  flex: 0 1 33%; }

.event-list__date {
  text-align: right;
  flex: 0 1 33%; }

.cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  box-shadow: 0 0.5rem 1rem -0.5rem #03003b;
  min-height: 16rem;
  width: 16rem;
  margin: 1rem 2rem;
  padding: 1rem;
  flex: 0 0 auto;
  border-radius: 0.5rem; }

.profile-card__photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: inset 0 0 1rem #03003b;
  margin: 1rem; }
  .profile-card__photo > img {
    z-index: -1;
    filter: grayscale(100%); }
  .profile-card__photo::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #03003b;
    background: linear-gradient(145deg, #03003b 0%, #00ff7c 100%);
    opacity: 0.5; }

.profile-card__name {
  margin: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize; }

.profile-card__role {
  margin: 1rem;
  text-align: center; }
